@import "fonts.scss";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  outline: none;
}

button {
  outline: none;
  background: none;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

%after {
  position: absolute;
  display: block;
  content: "";
}

@import "mobile.scss";